@model Iudices2._0.Models.JuryPool
@using Iudices2._0.Models
@{
    ViewData["Title"] = "ListPool";
}

<h2>Selected Pool:</h2>
<table class="team-table">
    <tr>
        <th>Last Name</th>
        <th>First Name</th>        
        <th> Address</th>

    </tr>
    @foreach (Juror juror in Model.Pool)
    {
        <tr>
            <td>@juror.lastName</td>
            <td>@juror.firstName</td>            
            <td>@juror.streetAddress</td>
            <td>@juror.city, @juror.state @juror.zipcode</td>
         </tr>
    }

</table>

