@model Iudices2._0.Models.JuryPool
@using Iudices2._0.Models
@{
    ViewData["Title"] = "ListPool";
}

<h2>Selected Pool:</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th> Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
    </tr>
    @foreach (Juror juror in Model.Pool)
    {
        <tr>
            <td>@juror.firstName</td>
            <td>@juror.lastName</td>
            <td>@juror.streetAddress</td>
            <td>@juror.city</td>
            <td>@juror.state</td>
            <td>@juror.zipcode</td>

        </tr>
    }

</table>

